@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color:#232f3e; color:white; padding:30px; text-align:center;">
    <h1>@ViewBag.Message</h1>
    <p>Shop the latest deals and gadgets!</p>
</div>
