
@{
	ViewData["Title"] = "About Us";
}

<div class="container mt-4">
	<h1>About Our Organization</h1>

	<p>
		Welcome to our <strong>Employee Management System</strong>.We are dedicated to helping businesses streamline the management of their work.
	</p>
</div>