@{
    ViewData["Title"] = "Home Page";
}

<h2>Contact Us</h2>

@if (ViewBag.Message != null)
{
	<p style="color:green;">@ViewBag.Message</p>
}

<form method="post">
	<label>Name</label>
	<input asp-formaction="Name" class="form-control" />

	<label>Email</label>
	<input asp-formaction="Email" class="form-control" />

	<button type="submit" class="'btn btn-outline-primary mt-3">Send</button>
</form>